<div class="container">
    <div class="row my-3 mx-2">
        <div class="text-start form" id="Experiencia">
            <div><h3>Experiencia</h3></div>
            <div >
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>
                </button>
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="staticBackdropLabel">Agregar Experiencia</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <form class="add-form"(ngSubmit)="onSubmit()">
                            <div class="form-control">
                                <p style='text-align:left'>Imagen:</p>
                                <textarea class="form-control" for="url" placeholder="agrege una url" type="text" name="url" id="url" [(ngModel)]="url"></textarea>
                                <label for="url"></label>
                            </div>
                            <div class="form-control">
                              <p style='text-align:left'>Empresa:</p>
                              <textarea class="form-control" for="empresa" placeholder="agrege un nombre" type="text" name="empresa" id="empresa" [(ngModel)]="empresa"></textarea>
                              <label for="empresa"></label>
                            </div>
                            <div class="form-control">
                              <p style='text-align:left'>Detalles:</p>
                              <textarea class="form-control" for="tarea" placeholder="agrege una descripción o referencia" type="text" name="tarea" id="tarea" [(ngModel)]="tarea"></textarea>
                              <label for="tarea"></label>
                            </div>
                            <div class="form-control">
                              <p style='text-align:left'>Periodo:</p>
                              <textarea class="form-control" for="periodo" placeholder="agrege un periodo" type="text" name="periodo" id="periodo" [(ngModel)]="periodo"></textarea>
                              <label for="periodo"></label>
                            </div>
                            <div class="form-control">
                              <p style='text-align:left'>Puesto:</p>
                              <textarea class="form-control" for="puesto" placeholder="agrege una tarea o puesto en el que se haya desempeñado" type="text" name="puesto" id="puesto" [(ngModel)]="puesto"></textarea>
                              <label for="puesto"></label>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                              <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
        <p class="pt-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis neque aperiam vel ab ipsam reiciendis quibusdam nam, dolores reprehenderit exercitationem sit architecto libero ex nobis quidem commodi accusamus facere recusandae:</p>
        <ul class="white">
            <li *ngFor="let experiencia of experienciaList" class="row my-5">
                <div class="boton">
                    <button type="button" class="btn" (click)="onDelete(experiencia)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                    </button>
                </div>
                <img [src]="experiencia.url" class="img-thumbnail col-md-2" alt="Google">
                <div class="col-md-10 ps-5 rounded" style="background-color: #354f52;">
                    <h4 class="pt-3">{{experiencia.empresa}}</h4>
                    <p>{{experiencia.tarea}}</p>
                    <p>{{experiencia.periodo}}</p>
                    <p>{{experiencia.puesto}}</p>
                </div>
            </li>
        </ul>
    </div>
</div>
