<div class="container text-center margin-negative">
    <div class="row mt-3">
        <div class="col-md-3">
            <img [src]="acercaDe.image" class="rounded float-start img-fluid" alt="Foto Perfil">
        </div>
        <div class="col-md-9 py-5">
            <div class="text-start form" id="Acerca _de">
                <div><h3>Acerca de mí</h3></div>
                
            </div>
            <div class="pt-4">
                <h1>{{acercaDe.nombre}}</h1>
                <h4>{{acercaDe.titulo}}</h4>
                <p>{{acercaDe.perfil}}</p>
            </div>
        </div>            
    </div>
</div>
